body{
  background-color:#e9f5db;
  font-family: "Montserrat Alternates", sans-serif;
}
h1,p{
  text-align:center;
  color:#718355
}
.container{
  display:flex;
  background-color:#cfe1b9;
  width:1320px;
  margin:20px ;
  content:center;
}
.container div{
  background-color:#b5c99a;
    margin:5px;
    padding: 20px;
  font-size: 18px;
  content:center;
}

footer{
  background-color:#e1ead7;
  color:#344e41;
  text-align:center;
  padding: 2rem;
  margin-top: 2rem;
}

.social a{
  display:inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #97a97c;
  color:#5c6f4f;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.5rem;

}